.Rproj.user
.Rhistory
.RData
.Ruserdata
*to_delete/
*output/
*output_prior_comp/
*old_models/
*previous versions w precision/
final_graphing.r
comparison_summary_output.RData
**archive/
gam_model_summaries_and_plotting.r
gam_parameter_explore.r
plotting_the_trajectories.r
**MEE/
**ISEC/
*doc/
**arch.R
**10B.pdf


